/*essa estilização em asterisco é para todo o código que for digitado ficar
  com a fonte Arial, com o tamanho de 30px e com a cor de fundo beige*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: beige;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
    font-size: 35px;
}

